nav {
  height: 120px;
  width: 100%;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.brand {
  font-family: 'Bungee', 'sans-serif';
  display: flex;
  font-size: 2em;
  padding-top: 10px;
  padding-left: 0.5em;
}

.write-new-tweet {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 40px;
  justify-content: center;
  padding-right: 1em;
}

.fa-angle-double-down {
  color: #DC143C;
}