
.tweet-container {
  display: flex;
  padding: 2%;
  border: 2px transparent;
  flex-direction: row;
  margin-bottom: 5px;
  background-color : #f4f1ec;
}

footer {
  margin-right: 2.5%;
  margin-left: 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeago {
  color: #545149;
  font-family: 'Source Sans Pro', sans-serif;
}

.icons i {
  color: #4056A1;
  margin: 2px;
}

.icons i:hover {
  color: crimson;
  cursor: pointer;
}

article {
  border: 2px solid #545149;
  margin: 5px;
  padding: 2%;
  font-size: 1em;
  resize: none;
  margin-top: 2%;
  background-color: #f4f1ec;
}

article:hover {
  box-shadow: 4px 4px 8px #545149;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  color: #545149;
  font: bold;
  font-family: 'Bungee', cursive;
}

.user-name {
  display: flex;
  border: transparent;
  color: #545149;
  font-size: 1em;
  font-weight: 300;
  justify-content: space-between;
  height: 2.5em;
  width: 100%;
}

.user-avatar {
  display: flex;
  border: transparent;
  color: #545149;
  font-size: 1em;
  font-weight: 300;
  justify-self: flex-start;
  height: 2.5em;
  width: 100%;
}

.user-handle {
  display: flex;
  border: transparent;
  color: silver;
  font-size: 1em;
  font-weight: 300;
  justify-self: flex-end;
  height: 2.5em;
  width: 100%;
}

.archive-text {
  overflow-wrap: break-word;
}

@media only screen and (min-width: 1024px) {

  .main-container {
    display: flex;
    padding-top: 10%;
  }

  .container {
    width: 60%;
  }


  #tweets-container {
    margin-top: 5%;
  }

  .header {
    width: 40%;
    margin-left: 5%;
    height: 400px;
  }

}